:root {
    --col-primary-200: #f8f8d3;
    --col-primary-300: #006d2a;
    
    --col-accent-400: rgb(13, 133, 133);
    --col-accent-600: rgb(2, 42, 61);

    --col-neutral-100: #eee;
    --col-neutral-900: #111;

    --ff-primary: "Glegoo", serif;
    --ff-accent: "Roboto Slab", serif;
    --ff-accent-alt: "Lato", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125em;
    line-height: 1.6;

    color: var(--col-neutral-900);
    background-color: var(--col-primary-200);
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
  margin: 0;
}